@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --title-font-family: "Raleway", sans-serifs;
    --menu-font-family:  "Poppins", sans-serif;
    --primary-color: #c28a4d;
    --primary-hover-color: #cf9352;
    --default-shadow: #9d9d9d 0px 7px 29px 0px;
}

/*----------- Gerneral -------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    display: grid;
    grid-template-columns: 300px auto;

    height: 200rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 10px 0;
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    margin: 10px 0;
}

.small {
    font-size: 0.8rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.title {
  font-family: var(--title-font-family);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.header .title {
  width: 50px;
  border-bottom: 3px solid var(--primary-color);
  margin-bottom: 20px;
}

section {
  padding: 40px 0px;
}

section .container  {
  padding: 10px 20px;
}

section .container .header {
margin-bottom: 3%;
}

h2, p {
  margin: 0px;
}

/*----------- Aside -------------*/

aside {
  width: 300px;
  height: 100%;
  background-color: #BE782D;
  box-shadow: var(--default-shadow);
}

aside .container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  padding: 25px;
  width: 300px;
}

/* ### class : me */
.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.me .img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.me .img img {
  width: 155px;
  height: 155px;
  border: 8px solid #292F37;
  border-radius: 50%;
}

.me .name h1 {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

/* ### class : social-media */
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media .social-link {
  padding: 4px;
  margin: auto 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1B1B1B;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3;
}

.social-media .social-link:hover {
  background-color: var(--primary-hover-color);
}

/* ### class : nav */

aside .nav {
  padding-bottom: 20px;
  margin-top: 36px;
}

.nav a .nav-item {
  padding: 15px 10px;
  font-family: var(--menu-font-family);
  font-weight: 400;
  width: 100%;
  list-style-type: none;
  border-radius: 14px;
  font-weight: 600;
}

.nav a .nav-item:hover {
  background-color: var(--primary-hover-color);
}

.nav a .nav-item span,
.nav a .nav-item i {
  padding: 6px;
}

.nav .nav-item:hover a i {
  transition: color 0.3s;
}

.nav .nav-item:hover a i {
  color: var(--primary-color);
}


/*----------- Main -------------*/

/* ### class : hero */
.hero {
  padding: 0px;
  /* position: relative; */
}

.hero img {
  width: 100%;
}

.hero .menu-icon {
  position: fixed;
  background-color: var(--primary-color);
  padding: 10px;
  border: 1px solid;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  z-index: 999;
}

.hero .menu-icon:hover {
  background-color: var(--primary-hover-color);
}

/* ### class : about */


.about .container .container {
  display: grid;
  grid-template-columns: 35% auto;
}

.about .container .img {
  margin: auto 10% auto auto;
}

.about .container .img img{
  max-width: 100%;
  box-shadow: var(--default-shadow);
  border-radius: 14PX;
}

.about .container .info .dtls{
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.about .container .info .dtls div{
  padding: 10px;
  font-size: 16px;
  width: 50%;
}

.about .container .info .dtls div b{
  font-weight: 700;
}

.about .container .info .dtls div span{
  font-weight: 400;
}

.about .container .info .dtls div i{
  color: var(--primary-color);
}


/*----------- Resume -------------*/
.resume .container .container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 18px;
}

.container .overview {
  grid-column: 1/2;
  grid-row: 1/2;
}

.container .edu {
  grid-column: 1/2;
  grid-row: 2/3;
}

.container .pro {
  grid-column: 2/3;
  grid-row: 1/3;
}

.block .title {
  font-family: var(--title-font-family);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  margin: 0px;
}

.sub-block {
  border-left: 2px solid var(--primary-color);
  margin-top: 8px;
  position: relative;
  padding-left: 21px;
  font-family: var(--title-font-family);
}

.sub-block span.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-color: #fff;
  position: absolute;
  left: -9px;
}

.sub-block-title {
  color: #525354;
  font-weight: 500;
  display: inline-block;
  margin-top: -8px;
  font-size: 20px;
  text-transform: uppercase;
}

.sub-block .content .date {
  padding-left: 14px;
  font-weight: 600;
  color: #4f4f4f;
}

.sub-block .content p.meta {
  padding: 26px 0px 8px;
  margin-bottom: 8px;
}

.sub-block .content p.details {
  padding: 20px 0px 8px;
  margin-bottom: 8px;
}

.sub-block .content ul {
  padding-left: 21px;
  margin-bottom: 6px;
}

.sub-block .content ul li {
  padding-bottom: 10px;
}
/*----------- Projects -------------*/

.card-container {
  margin: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.card {
  height: 21rem;
  border-radius: 12px;
  margin: 3% 2%;
  box-shadow: var(--default-shadow);
}

.card .card-body .card-img {
  height: 10rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-text {
  padding: 10px;
  min-height: 110px;
}

.card-text h4 {
  line-height: 1.0;
  font-weight: 500;
  margin-bottom: 0px;
}

.card-text .category{
  font-size: 16px;
  padding-left: 6px;
  color: #545454;
}

.card-btn {
  padding: 10px;
}

.card-btn a {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 12px;
  text-align: center; 
}

.card-btn a:hover {
  background-color: #cf9352;
}

.card-btn a i {
  padding: 0px 6px;
  font-size: 16px;
}


/*----------- Certificates -------------*/
/*----------- Contact -------------*/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form .field {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

form .field input,
form .field textarea {
  border: 0px;
  height: 48px;
  width: 50%;
  padding: 10px 14px;
  font-size: 18px;
  box-shadow: var(--default-shadow);
  border-bottom: 3px solid #c28a4d;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}


form .field input:focus,
form .field textarea:focus {
  outline: none;
}

form .field input[type=email],
form .field textarea{
  border-radius: 0px;
}

form .field textarea {
  height: 300px;
}

form .submit {
  margin-top: 20px;
}

form .submit input{
  margin-top: 20px;
  background-color: var(--primary-color);
  border-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #fff;
}

form .submit input:hover{
  margin-top: 20px;
  background-color: var(--primary-hover-color);
  cursor: pointer;
}

/*----------- Footer -------------*/
footer {
  text-align: center;
  padding: 40px 0px 10px;
}





/*----------- Media Queries -------------*/
@media only screen and (max-width: 1350px) {
  body {
    grid-template-columns: auto;
  }

  aside .container {
    display: none;
    background-color: var(--primary-color);
    z-index: 99;
  }

  .hero .menu-icon {
    display: block;
  }
}

@media only screen and (max-width: 1250px) {
  .card-container {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto;
  }
}

@media only screen and (max-width: 945px) {
  .resume .container .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .container .container .block {
    grid-column: 1/2;
  }

  .container .container .edu {
    grid-row: 2/3;
  }

  .container .container .pro {
    grid-row: 3/4;
  }


  .card-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }

  form .field input,
  form .field textarea {
    width: 70%;
  }
}

@media only screen and (max-width: 820px) {
  .about .container .container {
    display: grid;
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr; /* Stack sidebar and main */
  }

  aside {
    display: none; /* Hide sidebar on smaller screens */
  }
}


@media only screen and (max-width: 610px) {
  .card-container {
    grid-template-columns: 80%;
    grid-template-rows: auto auto;
  }


  form .field input,
  form .field textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 564px) {
  .info .dtls {
    flex-direction: column;
  }

  .about .container .info .dtls div {
    width: 100%;
  }

  .card-container {
    grid-template-columns: auto;
  }
}



/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}